<div class="container">
    <div class="row">
        <div class="center-block">
            <h2>Messages Box</h2>
        </div>
        <div class="right"><a href="./profile">Account</a></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <a href="./prvbox.php?method=out" class="btn btn-default col-md-3">Outbox</a>
            <a href="./prvbox.php" class="btn btn-default col-md-3">Inbox</a>
            <a class="btn btn-default col-md-3" href="/prvbox.php?method=send">Send Message</a>
        </div>
    </div><br>
    <table class="table">
        <tr>
            <td>To</td>
            <td>Date</td>
            <td>Status</td>
            <td>Options</td>
        </tr>